<hr class="my-5">

<h2 class="display-5 highlight_italic">Unlock your potential through 1:1 coaching</h2>
<div class="col-lg-12">
  <p class="mb-4">One of the most useful mediums to learn as a manager are your peers - both on your org, in your company, and in the industry. From time to time I offer coaching engagements. Specifically, I focus on:
</div>
<div class="container px-0">
  <div class="row">
    <div class="col">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Operator's mindset</li>
        <li class="list-group-item">Listening (AKA: curiosity)</li>
      </ul>
    </div>
    <div class="col">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Creating a manager's system</li>
        <li class="list-group-item">Defining metrics</li>
      </ul>
  </div>
</div>
<p class="mt-4 fw-semibold">Reach out, and let's get to work.</p>
<a href="mailto:coach@keivanz.com?subject=Time%20to%20connect%20on%20people%20management%20and%20coaching" target="_blank"><button type="button" class="reach_out btn btn-primary btn-lg px-4 py-5 rounded-5 focus-ring w-100 gap-3">
  Let's chat <i class="fa-regular fa-envelope pe-3"></i>
</button></a>
