<div class="test">
  <h1 class="display-3 highlight_italic">Unlock your potential through 1:1 coaching</h1>
  <div class="col-lg-12">
    <p>From time to time I offer <a href="/coach">coaching engagements</a>, <a href="/colophon">building this site</a>.
    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div class="container px-0">
    <p>Areas I</p>
    <div class="row">
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">skill</li>
          <li class="list-group-item">skill</li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">skill</li>
          <li class="list-group-item">skill</li>
        </ul>
    </div>
    </div>
</div>

<h2 class="mt-5 serif-heading">Articles</h2>
  <ul>
    <li><a href="https://www.rkg.blog/demanding.php">Demanding and Supporting</a></li>
    <li><a href="https://www.linkedin.com/pulse/why-every-operating-leader-needs-executive-coach-aarti-bhatnagar-hy5wc/">Why coaches matter</a></li>
    <li><a href="https://yewjin.com/blog/2022/software-engineering-managing/">Software engineering managing</a></li>
    <li><a href="https://resend.com/handbook/people/how-to-give-feedback">Resend</a></li>
    <li><a href="https://jamesclear.com/3-2-1/february-1-2024">Decisions: on Hats, Haircuts, and Tattoos</a></li>
  </ul>

<h2 class="mt-5 serif-heading">Books</h2>
  <ul>
    <li>The Making of a Manager: What to Do When Everyone Looks to You by Julie Zhuo</li>
    <li><a href="https://press.stripe.com/scaling-people">Scaling People: Tactics for Management and Company Building by Claire Hughes Johnson</a></li>
    <ul>
      <li><a href="https://assets.ctfassets.net/fzn2n1nzq965/5QpKqAjTVoskvZ4mRTNsMj/cffdca0985b2b48336798d126245518a/Scaling-People-Workbooks_PDF_23_03_05.pdf">Workbooks</a></li>
    </ul>
  </ul>

<h2 class="mt-5 serif-heading">Newsletters</h2>
  <ul>
    <li><a href="https://hbr.org/email-newsletters">HBR: Management Tip of the Day</a></li>
    <li><a href="https://levelupwithethanevans.substack.com">Level Up</a></li>
    <li><a href="https://www.weskao.com/newsletter-homepage">Wes Kao</a></li>
  </ul>


<p class="">Reach out, and let's get to work.</p>
<button type="button" class="btn btn-primary btn-lg px-4 py-5 rounded-5 focus-ring w-100 gap-3">Let's chat</button>

<div class="d-grid gap-2 mt-2 d-sm-flex justify-content-sm-center">
  <button type="button" class="btn btn-primary btn-lg rounded-5 focus-ring px-4 gap-3">
    <i class="fa-regular fa-calendar-check pe-3"></i> Book time</button>
  <button type="button" class="btn btn-outline-secondary rounded-5 focus-ring-secondary btn-lg px-4">Secondary</button>
</div>