<footer class="pt-3 my-5 text-body-secondary row border-top">

  <div class="col-md-8">
    <ul class="list-inline">
      <li class="list-inline-item me-4">&copy; {{ site.time | date: '%Y' }}</li>
      <li class="list-inline-item me-4"><a href="/colophon">Colophon</a></li>
    </ul>
    </div>
  <div class="col-md-4">
    <div class="float-end">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="darkModeSwitch" checked>
        <label class="form-check-label" for="darkModeSwitch">Dark Mode</label>
      </div>
    </div>
  </div>

</footer>