<footer class="pt-5 my-5 text-body-secondary border-top">
  Created by <a class="text-decoration-none" href="https://github.com/leatheresque" target="_blank">Keivan Zolfaghari</a> &copy; 2024

  <div class="dropdown">
    <button id="bd-theme" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Change theme
    </button>
    <ul class="dropdown-menu">
      <li ><a data-bs-theme-value="light" class="dropdown-item" href="#">
        <svg class="bi ms-auto d-none"><use href="#check2"></use></svg><i class="fa-solid fa-sun"></i>Light</a>
      </li>
      <li><a data-bs-theme-value="dark" class="dropdown-item" href="#">
        <svg class="bi ms-auto d-none"><use href="#check2"></use></svg><i class="fa-solid fa-moon"></i>Dark</a>
      </li>
      <li><a data-bs-theme-value="auto" class="dropdown-item" href="#">
        <svg class="bi ms-auto d-none"><use href="#check2"></use></svg><i class="fa-solid fa-circle-half-stroke"></i>Auto</a>
      </li>
    </ul>
  </div>
  
</footer>