<footer class="pt-3 my-5 text-body-secondary d-flex flex-wrap justify-content-between align-top border-top">

  <div class="col-md-6">
    <ul class="list-inline">
      <li class="list-inline-item me-4">&copy; {{ site.time | date: '%Y' }}</li>
      <li class="list-inline-item me-4"><a href="/colophon">Colophon</a></li>
    </ul>
    </div>
  <div class="col-md-6 float-end">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="darkModeSwitch" checked>
      <label class="form-check-label" for="darkModeSwitch">Dark Mode</label>
    </div>
  </div>

</footer>