<header><p class="mt-5 mb-4"><a href="/" class="sitetitle text-body-emphasis text-decoration-none name_lead">{{ site.title }}</a></p></header>

<p>Welcome to my corner of the internet. From time to time I offer <a href="/coach">coaching engagements</a>. Learn more about how I <a href="/colophon">built this site</a>.
<p>Contact me at the links below, or reach out to [anything] @keivanz.com.</p>

<h6 class="text-body-secondary mt-5 font_sans_serif">Connect with me online</h6>
<div class="social_links list-group ps-0">
  <a class="list-group-item list-group-item-action" href="https://www.threads.net/@keivanz" target="_blank">
    <i class="fa-brands fa-threads pe-2"></i>Threads
  </a>
  <a class="list-group-item list-group-item-action" href="https://x.com/keivanz" target="_blank">
    <i class="fa-brands fa-x-twitter pe-2"></i>X (formerly Twitter)
  </a>
  <a class="list-group-item list-group-item-action" href="https://www.instagram.com/keivanz/" target="_blank">
    <i class="fa-brands fa-instagram pe-2"></i>Instagram
  </a>
  <a class="list-group-item list-group-item-action" href="https://github.com/keivanz" target="_blank">
    <i class="fa-brands fa-github pe-2"></i>Github
  </a>
  <a class="list-group-item list-group-item-action" href="https://www.linkedin.com/in/keivanz/" target="_blank">
    <i class="fa-brands fa-linkedin pe-2"></i>LinkedIn
  </a>
</div>

<div id="quote-container">
  <div class="container px-0">
    <div class="row row-cols-2">
      <div class="col"> 
        <h6 id="quote-title" class="text-body-secondary mt-5 font_sans_serif" style="display: none;">Random Quote</h2>
      </div>
      <div class="col align-self-end">
        <button type="button" id="quote-button" style="display: none;" class="btn float-end p-0" onclick="displayRandomQuote()"><i class="fa-solid text-body-secondary fa-rotate"></i></button>
      </div>
    </div>
  </div>

  <p id="quote" class="mb-0"></p>
  <p id="author"></p>
  
</div>

<script>
  const quotes = [
      {% for quote in site.data.quotes %}
          {
              quote: "{{ quote.quote | escape_once }}",
              author: "{% if quote.author %}{{ quote.author | escape_once }}{% endif %}"
          },
      {% endfor %}
  ];

  function displayRandomQuote() {
      const randomIndex = Math.floor(Math.random() * quotes.length);
      const randomQuote = quotes[randomIndex];

      document.getElementById("quote").textContent = randomQuote.quote;
      if (randomQuote.author) {
          document.getElementById("author").textContent = " - " + randomQuote.author;
      } else {
          document.getElementById("author").textContent = "";
      }

      // Show the title when JavaScript is enabled
      document.getElementById("quote-title").style.display = "block";
      document.getElementById("quote-button").style.display = "block";
    }

document.addEventListener('DOMContentLoaded', (event) => {
    displayRandomQuote();
});
</script>
