<header><p class="mt-5 mb-4"><a href="/" class="sitetitle text-body-emphasis text-decoration-none name_lead">{{ site.title }}</a></p></header>

<p class="fade-in">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

<p>From time to time I offer <a href="/coach">coaching engagements</a>, <a href="/colophon">building this site</a>.

<h6 class="text-body-secondary mt-5">Connect with me online</h6>
<div class="social_links list-group ps-0">
  <a class="list-group-item list-group-item-action" href="https://test.com/test" target="_blank">
    <i class="fa-brands fa-threads pe-2"></i>Threads
  </a>
  <a class="list-group-item list-group-item-action" href="https://test.com/test" target="_blank">
    <i class="fa-brands fa-x-twitter pe-2"></i>X (formerly Twitter)
  </a>
  <a class="list-group-item list-group-item-action" href="https://test.com/test" target="_blank">
    <i class="fa-brands fa-instagram pe-2"></i>Instagram
  </a>
  <a class="list-group-item list-group-item-action" href="https://test.com/test" target="_blank">
    <i class="fa-brands fa-github pe-2"></i>Github
  </a>
  <a class="list-group-item list-group-item-action" href="https://test.com/test" target="_blank">
    <i class="fa-brands fa-linkedin pe-2"></i>LinkedIn
  </a>
</div>

<h6 class="text-body-secondary mt-5">Title</h6>
<p>From time to time I offer <a href="/coach">coaching engagements</a>. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
<p>[anything] @keivanz.com.</p>

<div id="quote-container">
  <h6 id="quote-title" style="display: none;">Random Quote</h2>
  <p id="quote"></p>
  <p id="author"></p>
</div>

<script>
  const quotes = [
      {% for quote in site.data.quotes %}
          { 
              quote: "{{ quote.quote | escape_once }}", 
              author: "{% if quote.author %}{{ quote.author | escape_once }}{% endif %}" 
          },
      {% endfor %}
  ];

  function displayRandomQuote() {
      const randomIndex = Math.floor(Math.random() * quotes.length);
      const randomQuote = quotes[randomIndex];

      document.getElementById("quote").textContent = randomQuote.quote;
      if (randomQuote.author) {
          document.getElementById("author").textContent = "- " + randomQuote.author;
      } else {
          document.getElementById("author").textContent = ""; // Clear author if not present
      }
      // Show the title when JavaScript is enabled
      document.getElementById("quote-title").style.display = "block";
  }

  displayRandomQuote(); // Call the function on page load
</script>

<button onclick="displayRandomQuote()">New Quote</button>
