<h1 class="display-1 mt-5 mb-4 name_lead" style="view-transition-name: sitetitle;">{{ site.title }}</h1>

<h6 class="text-body-secondary mt-5">Connect with me online</h6>
<div class="social_links list-group ps-0">
  <a class="list-group-item" href="https://test.com/test" target="_blank">
    <i class="fa-brands fa-threads pe-1"></i>Threads
  </a>
  <a class="list-group-item" href="https://test.com/test" target="_blank">
    <i class="fa-brands fa-x-twitter pe-1"></i>X (formerly Twitter)
  </a>
  <a class="list-group-item" href="https://test.com/test" target="_blank">
    <i class="fa-brands fa-instagram pe-1"></i>Instagram
  </a>
  <a class="list-group-item" href="https://test.com/test" target="_blank">
    <i class="fa-brands fa-github pe-1"></i>Github
  </a>
  <a class="list-group-item" href="https://test.com/test" target="_blank">
    <i class="fa-brands fa-linkedin pe-1"></i>LinkedIn
  </a>
</div>

<h6 class="text-body-secondary mt-5">Title</h6>
<p>From time to time I offer <a href="/coach">coaching engagements</a>.</p>
<ul class="list-inline ps-0">
  <li class="list-inline-item"><a href="/colophon">Read colophon</a></li>
  <li class="list-inline-item"><a href="/coach">Chat about coaching</a></li>
</ul>
