<div class="px-4 py-5">
  <h1 class="display-3 serif-italic">Unlock your potential through 1:1 coaching</h1>
  <div class="col-lg-12">
    <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg rounded-5 focus-ring px-4 gap-3">Primary button</button>
      <button type="button" class="btn btn-outline-secondary btn-lg focus-ring-secondary rounded-5 px-4">Secondary</button>
    </div>
  </div>
</div>
<h1>end of intro</h1>

<div class="container my-5">
    <div class="row p-4 py-lg-5 align-items-center text-center rounded-4 border shadow-lg">
        <h1 class="display-5 fw-bold text-body-emphasis">One on One coaching to unlock your potential</h1>
        <div class="col-lg-12 mx-auto">
          <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg rounded-5 focus-ring px-4 gap-3">Primary button</button>
            <button type="button" class="btn btn-outline-secondary rounded-5 focus-ring-secondary btn-lg px-4">Secondary</button>
          </div>
        </div>    
    </div>
  </div>

  <h1>end of intro</h1>
  
<ul class="list-inline ps-0">
  <li class="list-inline-item"><a href="/colophon">Read colophon</a></li>
  <li class="list-inline-item"><a href="/coach">Chat about coaching</a></li>
</ul>

<p>call to action button - book intro</p>
<button type="button" class="btn btn-primary btn-lg rounded-5 focus-ring px-4 gap-3">
  <i class="fa-regular fa-calendar-check pe-3"></i> Book time</button>

  <h1 class="display-1">Display 1</h1>
  <h1 class="display-2">Display 2</h1>
  <h1 class="display-3">Display 3</h1>
  <h1 class="display-4">Display 4</h1>
  <h1 class="display-5">Display 5</h1>
  <h1 class="display-6">Display 6</h1>

  
<h3>Reach out, and let's get to work.</h3>
<button type="button" class="btn btn-outline-primary btn-lg px-4 py-5 rounded-5 focus-ring w-100 gap-3">Let's chat</button>


