<h1 class="display-2 mt-5 text-body-emphasis" style="view-transition-name: sitetitle;">{{ site.title }}</h1>

<ul class="list-inline ps-0">
  Chat with me online:
  <li class="list-inline-item">
    <a href="https://test.com/test" target="_blank">
      <i class="fa-brands fa-threads pe-1"></i>Threads
    </a>
  </li>
  <li class="list-inline-item">
    <a href="https://test.com/test" target="_blank">
      <i class="fa-brands fa-x-twitter pe-1"></i>X/Twitter
    </a>
  </li>
  <li class="list-inline-item">
    <a href="https://test.com/test" target="_blank">
      <i class="fa-brands fa-instagram pe-1"></i>Instagram
    </a>
  </li>
  <li class="list-inline-item">
    <a href="https://test.com/test" target="_blank">
      <i class="fa-brands fa-github pe-1"></i>Github
    </a>
  </li>
  <li class="list-inline-item">
    <a href="https://test.com/test" target="_blank">
      <i class="fa-brands fa-linkedin pe-1"></i>LinkedIn
    </a>
  </li>
</ul>

<ul class="list-inline ps-0">
  Subtitle: 
  <li class="list-inline-item"><a href="/colophon">Read colophon</a></li>
  <li class="list-inline-item"><a href="/coach">Chat about coaching</a></li>
</ul>
