<h1 class="display-1 text-body-emphasis">{{ site.title }}</h1>
    <ul class="list-inline ps-0">
      <li class="list-inline-item">
        <a href="https://test.com/test" target="_blank">
          <i class="fa-brands fa-threads pe-1"></i>Threads
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://test.com/test" target="_blank">
          <i class="fa-brands fa-instagram pe-1"></i>Instagram
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://test.com/test" target="_blank">
          <i class="fa-brands fa-github pe-1"></i>Github
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://test.com/test" target="_blank">
          <i class="fa-brands fa-linkedin pe-1"></i>LinkedIn
        </a>
      </li>
    </ul>
  </div>

</div>

