<p>Being a people leader is a constant experience of learning and experimenting. Here I share the best resources I've used throughout my career to become a stronger people leader.</p>

<h2 class="mt-5 serif-heading">Articles</h2>
  <ul>
    <li><a href="https://www.rkg.blog/demanding.php">Demanding and Supporting</a></li>
    <li><a href="https://www.linkedin.com/pulse/why-every-operating-leader-needs-executive-coach-aarti-bhatnagar-hy5wc/">Why coaches matter</a></li>
    <li><a href="https://yewjin.com/blog/2022/software-engineering-managing/">Software engineering managing</a></li>
    <li><a href="https://resend.com/handbook/people/how-to-give-feedback">Resend</a></li>
    <li><a href="https://jamesclear.com/3-2-1/february-1-2024">Decisions: on Hats, Haircuts, and Tattoos</a></li>
  </ul>

<h2 class="mt-5 serif-heading">Books</h2>
  <ul>
    <li><a href="https://amzn.to/4g82VRm">The Making of a Manager: What to Do When Everyone Looks to You</a> by Julie Zhuo</li>
    <li><a href="https://amzn.to/4jyiAwm">Scaling People: Tactics for Management and Company Building</a> by Claire Hughes Johnson</li>
    <ul>
      <li>The shared <a href="https://assets.ctfassets.net/fzn2n1nzq965/5QpKqAjTVoskvZ4mRTNsMj/cffdca0985b2b48336798d126245518a/Scaling-People-Workbooks_PDF_23_03_05.pdf">workbooks</a> have fantastic tools on how to impliment practices with yourself and your team.</li>
    </ul>
  </ul>

<h2 class="mt-5 serif-heading">Newsletters</h2>
  <ul>
    <li><a href="https://hbr.org/email-newsletters">HBR: Management Tip of the Day</a></li>
    <li><a href="https://levelupwithethanevans.substack.com">Level Up</a></li>
    <li><a href="https://www.weskao.com/newsletter-homepage">Wes Kao</a></li>
  </ul>


<hr class="my-5">

<h2 class="display-5 highlight_italic">Unlock your potential through 1:1 coaching</h2>
<div class="col-lg-12">
  <p class="mb-4">One of the most useful mediums to learn as a manager are your peers - both on your org, in your company, and in the industry. From time to time I offer coaching engagements. Specifically, I focus on:
</div>
<div class="container px-0">
  <div class="row">
    <div class="col">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Operator's mindset</li>
        <li class="list-group-item">Listening (AKA: curiosity)</li>
      </ul>
    </div>
    <div class="col">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Creating a manager's system</li>
        <li class="list-group-item">Defining metrics</li>
      </ul>
  </div>
</div>
<p class="mt-4 fw-semibold">Reach out, and let's get to work.</p>
<a href="mailto:coach@keivanz.com?subject=Time%20to%20connect%20on%20people%20management%20and%20coaching"><button type="button" class="reach_out btn btn-primary btn-lg px-4 py-5 rounded-5 focus-ring w-100 gap-3">
  <i class="fa-regular fa-envelope pe-3"></i> Let's chat
</button></a>
