/* footer seperators 
.list-inline li:not(:last-child):after {
  content:'・';
  margin:0 10px;
}*/

@view-transition {
  /* required to enable cross-document view transitions*/
  navigation: auto;
}
@media (prefers-reduced-motion) {
  @view-transition {
    navigation: none;
  }
}
::view-transition-old(root) {
  /* transition from the old page */
  animation: fade 0.1s ease-in forwards;
}
::view-transition-new(root) {
  /* transition to the new page */
  animation: fade 0.2s ease-out reverse;
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-feature-settings: "onum", "kern", "liga", "clig", "calt";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-underline-offset: .375em;
}

/* customize primary dark - follow https://github.com/twbs/bootstrap/issues/37976 */
$dark-primary: #aadd66;

[data-bs-theme="dark"] {
  --bs-primary: #{$dark-primary};
  --bs-primary-bg-subtle: #{$dark-primary};
  --bs-primary-bg-subtle-dark: #{$dark-primary};
  
  .btn-primary {
    --bs-btn-bg: #{$dark-primary};
  }
}
/*end customization */

::selection {
  background-color: var(--bs-secondary-text-emphasis);
  color: var(--bs-secondary-bg);
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

@font-face {
	font-family:Geist;
	src:url(../font/Geist-1.3.0/statics-woff/Geist-Regular.woff2) format("woff");
	font-weight:400;
	font-style:normal}
  @font-face {
    font-family:Geist;
    src:url(../font/Geist-1.3.0/variable-woff/Geist-VR.woff2) format("woff");
    font-weight:400;
    font-style:normal}


html,
body {
 /* margin: 0; */
  transition: background .05s;
}

main {
  width: 100%;
  min-height: 75dvh; /*helps ensure footer at bottom */
}

a:hover {
  text-decoration-color: rgba(var(--color), 0.8);
  text-decoration-thickness: 2px;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .2s;
}

/*
.wrapper {
  margin: 0 auto;
  aspect-ratio: 9/16;
  transition: 500ms ease-in;
  transition-property: --color-a, --color-b, --color-c;
  background: linear-gradient(45deg, var(--color-a), var(--color-b), var(--color-c));
  position: relative;
  overflow: hidden;
  color: white;

}

.wrapper::before {
  content: "";
  position: absolute;
  background: linear-gradient(45deg, var(--color-a), var(--color-b));
  filter: blur(50px) brightness(1.5);
  left: 20%;
  top: 10%;
  width: 20%;
  height: 20%;
  border-radius: 25px;
  animation: blob 8s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transform-origin: 60%;
}

.wrapper::after {
  content: "";
  position: absolute;
  background: linear-gradient(45deg, var(--color-a), var(--color-b));
  filter: blur(50px) brightness(1.5);
  left: 40%;
  top: 30%;
  width: 20%;
  height: 20%;
  border-radius: 25px;
  animation: blob 10s infinite cubic-bezier(0.215, 0.61, 0.355, 1) reverse;
  transform-origin: 60%;
}

.content {
  position: relative;
  z-index: 2;
}
*/
/*input[type="range"] {
  appearance: none;
  width: 100%;
  background: white;
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background: var(--color-b);
  border: 2px solid white;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  background: var(--color-b);
  border: 2px solid white;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  cursor: pointer;
}*/
/*
@keyframes blob {
  0% {
    translate: 0 0;
    rotate: 0deg;
  }
  30% {
    rotate: 40deg;
  }
  50% {
    transform: translate(300px, 390px) scale(1.1);
  }
  80% {
    rotate: 90%;
  }
}

@property --color-a {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

@property --color-b {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

@property --color-c {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
} 





.fade-in {
  -webkit-animation: block-desktop-tablet-animation 1.2s cubic-bezier(.25,.46,.45,.94) !important;
  animation: block-desktop-tablet-animation 1.2s cubic-bezier(.25,.46,.45,.94) !important;
  -webkit-animation-fill-mode: forwards !important;
  animation-fill-mode: forwards !important;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  animation-name: fade-in;
}
@keyframes fade-in {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
*/