/* footer seperators 
.list-inline li:not(:last-child):after {
  content:'・';
  margin:0 10px;
}*/

@view-transition {
  /* required to enable cross-document view transitions*/
  navigation: auto;
}
@media (prefers-reduced-motion) {
  @view-transition {
    navigation: none;
  }
}
::view-transition-old(root) {
  /* transition from the old page */
  animation: fade 0.1s ease-in forwards;
}
::view-transition-new(root) {
  /* transition to the new page */
  animation: fade 0.2s ease-out reverse;
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-feature-settings: "onum", "kern", "liga", "clig", "calt";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-optical-sizing: auto;
  font-variation-settings:
    "slnt" 0, 
    "dlig" 0,
    "zero" 0;
}

a {
  text-underline-offset: .4em;
  text-decoration-thickness: 1px;
  text-decoration-color:#CCC;
  transition: .3s ease;
  transition-property: all;
}
a:hover{
  text-decoration-color: currentcolor;
}

/* customize primary dark - follow https://github.com/twbs/bootstrap/issues/37976 */
$dark-primary: #7B896F; /* aadd66*/

[data-bs-theme="dark"] {
  --bs-primary: #{$dark-primary};
  --bs-primary-bg-subtle: #{$dark-primary};
  --bs-primary-bg-subtle-dark: #{$dark-primary};
  
  .btn-primary {
    --bs-btn-bg: #{$dark-primary};
  }
}
/*end customization */

::selection {
  background-color: var(--bs-secondary-text-emphasis);
  color: var(--bs-secondary-bg);
}

.font_serif {
  font-family: "Unna", ui-serif, Georgia, "Instrument Serif";
}
.highlight_regular {
  font-family: "Instrument Serif", serif;
  font-style: normal;
}
.highlight_italic {
  font-family: "Instrument Serif", serif;
  font-style: italic;
}

html,
body {
  transition: background .05s;
}

content {
  max-width: 40rem;
}

main {
  width: 100%;
  min-height: 75svh; /*helps ensure footer at bottom */
}

.name_lead {
  letter-spacing: -.2rem;
  font-weight: 500;
}

.social_links {
  color: inherit;
  transition: .25s ease;

  &:hover {
    a {
      color: #CCC;

      &:hover {
        color: #000;
      }
    }
    }
}