// DARK VARIABLES

$body-bg-dark: #161817; /* 0D0F0D 212529, 0b1215*/

$primary-dark: #BEC97E;
$secondary-dark: #CECDC3; //7B896F //grey 636363

$btn-bg-dark: #7B896F;

$emphasis-color-dark: #fff; //7B896F

$underline-color:: #252D09;
