$font-size-base: 1rem;

$body-bg: #fcf9ee; /*fff8f3 fbfbfb fcf6eb f6f6f4*/

$btn-bg: #0D0F0D;

$primary:#1F3A26; /* 2d452f 125b491D405C*/
$secondary:#636363; /* 6B9D4A 4C6A4B 003527 */

$font-family-sans-serif:  "Inter", system-ui, -apple-system, "Helvetica Neue", Arial, sans-serif;
$line-height-base: 1.8;
/*$list-group-bg:#CFE2CE;*/
/*list-group-active-bg
// list-group-action-hover-color:
// list-group-action-hover-bg   - hover on specidic item
// list-group-action-active-bg  - item color on click */

$display-font-sizes: (
  1: 6rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

/* reset to ensure max page width */
$container-max-widths: (
  sm: 40rem,
  md: 40rem,
  lg: 40rem,
  xl: 40rem,
  xxl: 40rem
);

$h1-font-size:  1.6rem;
$h2-font-size:  1.4rem;
$h3-font-size:  1.2rem;
// $h4-font-size:  $font-size-base * 1.5;
// $h5-font-size:  $font-size-base * 1.25;
// $h6-font-size:  $font-size-base;

$blockquote-margin-y:         $spacer;
$blockquote-font-size:        $font-size-base;
$blockquote-footer-color:     $body-color;
$blockquote-footer-font-size: $font-size-base;