$font-size-base: 0.9rem;

$body-bg: #fcf6eb; /*f6f6f4*/

$btn-bg: #000;

$primary:#125b49; /*1D405C*/
$secondary:#003527;

$font-serif: "Cormorant Garamond";
$font-family-sans-serif:  "Inter", system-ui, -apple-system, "Helvetica Neue", Arial, sans-serif;

$display-font-sizes: (
    1: 6rem
);