$font-size-base:              0.8rem;

$body-bg: #f4f4f6;
//--bs-font-sans-serif: "Inter", "Geist", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$btn-bg: #000;

$font-serif: "Cormorant Garamond";
$font-sans-serif: "Inter", "Geist", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;