// DARK VARIABLES

$body-bg-dark: #161817; /* 0D0F0D 212529, 0b1215*/

$primary-dark: #BEC97E;
$secondary-dark: #CECDC3; //7B896F //grey 636363

$btn-bg-dark: #7B896F;

$body-emphasis-color-dark: #fff; // Renamed from $emphasis-color-dark to match Bootstrap //7B896F

// $list-group-action-hover-bg: #313D07;
//$list-group-active-bg: #313D07;
// $list-group-action-active-bg: #313D07;
//$list-group-hover-bg: #313D07;
